.bottom-content{
  
  background-color:rgb(249, 244, 244);
  padding: 18px;
  border-top: solid  2px rgb(211, 211, 211);
  
  

}
.bottom-content .container{
  display: flex ;
            justify-content: center;
            align-items: center;
            
            


}
.bottom-icons .end-icon{
  
  color: black;
  margin: 7px;
  
  
}
.end-title{
  margin-top: 12px;
  display: flex ;
            justify-content: center;
            align-items: center;
            color: gray;

}
